<h2>Home</h2>
<% product=Product.order("RANDOM()").first %>
<%= render partial: "shared/product_card", locals: {product: product} %>
<%= render partial: "shared/save_product", locals: {product: product} %>
<div class="container">
    <div class="row text-light mb-4">
        <div class="col-12 mb-3">
            <div class="w-100 my-3 border-top border-light"></div>
        </div>
        <div class="col-auto">
            <label class="sr-only" for="subscribeEmail">Email address</label>
            <div class="input-group mb-2">
                <input type="text" class="form-control border-light" id="subscribeEmail" placeholder="Email address">
                <div id="subscribe_id" class="input-group-text btn-success text-light bg-dark" onclick="subscribe()">Subscribe</div>
            </div>
        </div>
    </div>
</div>
  