<br><h2>Collections</h2>

<%= link_to "/newins" do %>
<h4 class="img-thumbnail" style="
    height: 55px;
    text-align: center;
">New ins</h4>
<% end %>
<br>

<%= link_to "/men" do %>
<h4 class="img-thumbnail" style="
    height: 55px;
    text-align: center;
">Men</h4>
<% end %>
<br>

<%= link_to "/women" do %>
<h4 class="img-thumbnail" style="
    height: 55px;
    text-align: center;
">Women</h4>
<% end %>
<br>

<%= link_to "/kids" do %>
<h4 class="img-thumbnail" style="
    height: 55px;
    text-align: center;
">Kids</h4>
<% end %>
<br>