<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%# <style>
#searchIcon{
    color: white;
    align

}
.addCommonStyle{

}
</style> %>
<style>
.navbar.navbar-1 .navbar-toggler-icon {
background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000');
}

#hamburgerMenuIcon {
    margin-left: -11px;
}
</style>

<nav class="navbar navbar-expand-lg <%#navbar-dark%> navbar-1 bg-dark">

    <%# <a class="navbar-brand" href="#">Home</a> %>

    <!-- Collapse button -->
    <button id="hamburgerMenuIcon" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <%# <nav class="nav justify-content-center navbar-brand" href="#">Home</nav> %>

    <ul class="navbar-nav mr-auto">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <%# <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> %>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="color: white;">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        </div>
    </ul>

    <a><i class="fa fa-shopping-bag px-3" aria-hidden="true"></i></a>

    <a><i class="fa fa-search px-3" style="color: white;" id="searchIcon"></i></a>

    <%# <form class="form-inline my-2 my-lg-0">
    <input class="nav justify-content-end form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> %>
        
    <%# </ul> %>
    
</nav>